<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.BookMapper">

	<insert id="addBook">
		insert into book values (#{bid},#{bname},#{price},#{author},#{image},#{isdel},#{cid})
	</insert>

	<select id="selectAllBook" resultMap="finAllBook">
		select * from book where isdel = 0
	</select>
	
	<resultMap type="com.ssm.pojo.Book" id="finAllBook">
		<id property="bid" column="bid"/>
		<result property="bname" column="bname"/>
		<result property="price" column="price"/>
		<result property="author" column="author"/>
		<result property="image" column="image"/>
		<result property="cid" column="cid"/>
		<association property="catgory" column="cid" select="com.ssm.mapper.CatgoryMapper.getOneCatgory"></association>
	</resultMap>
	
	<select id="editBook" parameterType="String" resultMap="finAllBook">
		select * from book where bid = #{bid} and isdel = 0
	</select>
	
	<update id="editBookSave">
		update book set bname=#{bname},price =#{price},author=#{author},cid=#{cid} where bid = #{bid} and isdel = 0
	</update>
	
	<update id="delBook">
		update book set isdel = 1 where bid = #{bid}
	</update>
	
	<select id="getOneCatgoryBook" parameterType="String" resultMap="finAllBook">
		select * from book where cid = #{cid} and isdel = 0;
	</select>
	
	<select id="bookDetails" parameterType="String" resultType="com.ssm.pojo.Book">
		select * from book where bid = #{bid} ;
	</select>
	
</mapper>