<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.BookMapper">

	<insert id="addBook">
		insert into book values (#{bid},#{bname},#{price},#{author},#{image},#{isdel},#{cid})
	</insert>

	<select id="selectAllBook" resultMap="finAllBook">
		select 
	</select>
</mapper>