<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.CatgoryMapper">

	<insert id="addCatgory">
		 INSERT INTO CATGORY VALUES (#{cid},#{cname});
	</insert>
	
	<select id="getCatgory" resultType="com.ssm.pojo.Catgory">
		SELECT * FROM CATGORY;
	</select>
	
	<delete id="deleCatgory">
		DELETE FROM CATGORY WHERE CID = #{cid};
	</delete>
	
	<select id="getOneCatgory" resultType="com.ssm.pojo.Catgory">
		SELECT * FROM CATGORY WHERE CID = #{cid}
	</select>
	
	<update id="updateCatgory">
		UPDATE CATGORY SET CNAME = #{cname} WHERE CID = #{cid};
	</update>
</mapper>